# WordPress core files (optional if you only track theme/plugin)

sanitary.com.zip
wordpress-child-theme-project/sanitary.com/astra-child/screenshot.jpg
wordpress-child-theme-project/sanitary.com/astra-child/style.css